//***************************************************IMPORTS**********************************************************//
@import "css/variables.scss";
@import "css/media.scss";

//***************************************************GENERAL*********************************************************//

* {
    box-sizing: border-box;
  }

html, body {
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
  }

a {
    color: #176187;
    text-decoration: none;
    opacity: 1;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
        
        
        
    }
}

header {
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    padding-bottom: .5rem;
    z-index: 3;
    position: sticky;
    top:0;
    width:100%;
}

.header-content {
    text-align: center;
    position: relative;
    font: 1.8rem josefin sans;
    color: #102737;
    padding: .5rem;
    padding-left:1.5rem;
    padding-right: 1.5rem;
    padding-top:1rem;

    .header-menu-list {
        font-size:.9rem;
        font-weight: 300;
        padding-top:.5rem;

    }

    .social-buttons {
            a {
                text-decoration: none;
                //color:#102737;
                font-size:1rem;
            }

            @include mobileFirst(640) {
                position: absolute;
                right:0;
                bottom:0;
                padding-bottom:.5rem;
            }
    }

    @include mobileFirst(640) {
        text-align: left;
        max-width: 1600px;
        margin: auto;
    }
}

.hero {
    display: none;
    width:100%;
    height:70vh;
    position: relative;
    margin: auto;
    padding-bottom: 2rem;

    img {
        width:100%;
        height:100%;
        object-fit: cover;
        filter:brightness(0.8);
        background-color: lightgrey;
    }

    .home-hero-header {
        color:white;
        font:2.5rem merriweather;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);

        @include mobileFirst(640) {
            font-size: 3.5rem;
        }
    }

    @include mobileFirst(480) {
        display: block;
    }

    @include mobileFirst(768) {
        height: 75vh;
    }
}

.home-main {
    position: relative;
    text-align: center;
    max-width: 1600px;
    padding: 1rem;
    margin:auto;

    .photography-type {
        font:1rem josefin sans;
        font-weight: 300;
        padding-bottom: 1rem;

        p {
            display: inline;
        }

        @include mobileFirst(800) {
            position: relative;
            right:0rem;
            top:0;
            padding: 0rem;
            font-size: 1.2rem;
            text-align: right;
        }

    }

    .photography-project-list {
        font:1rem Josefin Sans;
        font-weight: 300;
        position: relative;
        width:100%;

        @include mobileFirst(480) {
            display:flex;
            flex-wrap: wrap;
        }
    }

    .photography-project {
        width:100%;
        padding:0.2rem;
        position: relative;
        

        

        img {
            width:100%;
            object-fit:cover;
            box-shadow:0px 4px 4px rgba(0,0,0,0.2);
            border-radius:5px;
            background-color: lightgrey;
            filter: brightness(.9);

        }

        p {
            //color: black;
            font-size: 1.5rem;

            @include mobileFirst(640) {
                width:100%;
            }

            span {
                font-size:1rem;
            }
        }

        @include mobileFirst(640) {
            width:50%;
        }

        @include mobileFirst(800) {
            width:33.33%;
        }
    }



}

//***************************************************FOOTER**********************************************************//

footer {
	position:relative;
	padding-bottom:1rem;
	padding-top:1rem;
	width:100%;
  	z-index:0;
  	background-color:$textColor;
  	box-shadow:0 -2px 6px rgba(0,0,0,0.5);

	p {
		font:1rem montserrat;
		color:white;
		text-align:center;

	}

  a {
    color:white!important;
  }
}

.social-header {
	margin:auto;
	text-align:center;
}

.fa {
    padding-bottom: 0px;
    padding-left: .7em;
    padding-right:.7em;
    text-align: right;
    text-decoration: none;
    color: $textColor;
    cursor:pointer;
}

.fa:hover {
    opacity: 0.5;
}

.copyright {
	font:1rem $textFont;
	display:block;
	margin:auto;
	text-align:center;
	color:white;
	padding-top:2rem;
}

//***************************************************ABOUT**********************************************************//

.about-main {
    width:100vw;
    margin:auto;
    padding:0;
    display: flex;
    flex-wrap: wrap;

    @include mobileFirst(920) {
        height:90vh;
    }
}

.about-hero {
    position: relative;
    width:100vw;
    min-height: 50vh;

    img {
        object-fit: cover;
        width:100%;
        height:100%;
    }

    h1 {
        text-align: center;
        margin:auto;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:white;
        font:3rem josefin sans;

        @include mobileFirst(640) {
            font-size: 5rem;
        }

    }

    @include mobileFirst(920) {
        width:50vw;
        height:100%;
    }
}

.about-text {
    width:100%;
    text-align: center;
    font:1rem montserrat;
    font-weight:300;
    padding:2rem;
    background-color:#5e616d;
    color:white;

    h2 {
        font:1.5rem montserrat;

        @include mobileFirst(640) {
            font-size: 1.6rem;
        }
    }

    @include mobileFirst(920) {
        width:50vw;
        height:100%;
        overflow-y:scroll;
        font-size:1.2rem;
    }
}

//***************************************************PROJECT PAGES**********************************************************//

.project-hero {
    position: relative;
    height:50vh;
    //border-bottom:1rem solid $textColor;

    img {
        height:100%;
        width:100%;
        object-fit: cover;
        filter: brightness(.9);
    }

    @include mobileFirst(640) {
        height: 85vh;
    }
}

.project-hero-title {
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:crimson text, arial;
    color:white;
    font-size:3rem;
    line-height:0.9;

    @include mobileFirst(640) {
        font-size: 6rem;
    }

    span {
        font-size:1rem;

        @include mobileFirst(640) {
            font-size: 2rem;
        }
    }

}

.project-images {
    padding-bottom:2rem;

    img {
        width:100%;
        padding-bottom: 2rem;

        @include mobileFirst(768) {
            padding-bottom: 0;
        }
    }
}

.project-text {
    font:1.5rem crimson text;
    text-align:center;
    padding:1rem;

    @include mobileFirst(768) {
        padding:7rem;
    }
}

.project-text-content {
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding:2rem;
}

.triple-image-row {
    @include mobileFirst(768) {
        display: flex;

        img {
            width:33.3%;
            height:33.3%;
            object-fit: cover;
        }
    }
}

.full-width-image {
    img {
        width:100%;
        padding-bottom:2rem;
    }
}

.half-width-image {
    @include mobileFirst(768) {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:2rem;

        img {
            margin:auto;
            display: block;
            width:60vw;
        }
    }
}

.left {
    grid-column: 1/3;
}

.right {
    grid-column:2/4;
}

.center {
    grid-column:2/3;
}

.triple-image-collage {
    @include mobileFirst(768) {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;

        img:first-child {
            grid-column: 1/3;
            grid-row:1/3;
        }
    }
}

.image-grid {
    padding-top:3rem;
    padding-bottom:3rem;

    img {
        padding-top:2rem;
    }

    @include mobileFirst(920) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:2rem;
        padding: 3rem;
    }
    
}

//***************************************************BLOG**********************************************************//



.blog-header {
        color:white;
        font:4rem montserrat;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);

    @include mobileFirst(768) {
        font-size:6rem!important;
        top:30%!important;
        font-family:montserrat!important;
    }
}

.blog-subheader {
    color:white;
    font:1rem montserrat;
    font-weight: 300;
    text-align: center;

    @include mobileFirst(768) {
        font-size: 2rem;
    }

}

.blog-post-main {
    width:100%;
    padding:1rem;

    @include mobileFirst(920) {
        display:grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @include mobileFirst(1200) {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    img {
        width:100%;
        padding-bottom: 1rem;
    }
}

.blog-text {
    font-family: montserrat;
    width:100%;
}

.blog-image-full {
    grid-column-start: 1;
    grid-column-end: 3;
}