//***************************************************IMPORTS**********************************************************//
@import "css/variables.scss";
@import "css/media.scss";

//***************************************************GENERAL*********************************************************//
html, body {
    margin:0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
}

* {
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
    transition:.3s;

    &:hover {
        color: inherit;
        opacity: 0.7;
        
        
    }
}

header {
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    padding-bottom: .5rem;
    z-index: 3;
    position: sticky;
    top:0;
    width:100vw;
}

.header-content {
    text-align: center;
    position: relative;
    font: 1.8rem josefin sans;
    color: #102737;
    padding: .5rem;
    padding-left:1.5rem;
    padding-right: 1.5rem;
    padding-top:1rem;

    .header-menu-list {
        font-size:.9rem;
        font-weight: 300;
        padding-top:.5rem;

    }

    .social-buttons {
            a {
                text-decoration: none;
                color:#102737;
                font-size:1rem;
            }

            @include mobileFirst(640) {
                position: absolute;
                right:0;
                bottom:0;
                padding-bottom:.5rem;
            }
    }

    @include mobileFirst(640) {
        text-align: left;
        max-width: 1200px;
        margin: auto;
    }
}

.hero {
    display: none;
    height:70vh;
    position: relative;
    margin: auto;
    padding-bottom: 2rem;

    img {
        width:100%;
        height:100%;
        object-fit: cover;
        filter:brightness(0.9);
        background-color: lightgrey;
    }

    h1 {
        color:white;
        font:2rem merriweather;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%, -50%);

        @include mobileFirst(920) {
            font-size: 3rem;
        }
    }

    @include mobileFirst(480) {
        display: block;
    }

    @include mobileFirst(768) {
        height: 75vh;
    }
}

.home-main {
    position: relative;
    text-align: center;
    max-width: 1600px;
    padding-left:1rem;
    padding-right: 1rem;
    margin:auto;

    .photography-type {
        font:1rem josefin sans;
        font-weight: 300;
        color:#102737;
        padding-top: 1rem;
        padding-bottom: 1rem;

        p {
            display: inline;
        }

        @include mobileFirst(800) {
            position: relative;
            right:0rem;
            top:0;
            padding: 0rem;
            font-size: 1.2rem;
            text-align: right;
        }

    }

    .photography-project-list {
        font:1rem Josefin Sans;
        font-weight: 300;
        color:#102737;
        position: relative;

        @include mobileFirst(480) {
            display:flex;
            flex-wrap: wrap;
        }

        @include mobileFirst(800) {
            padding-top:2rem;
        }
    }

    .photography-project {
        width:100%;
        padding:0.2rem;
        position: relative;
        
        

        img {
            width:100%;
            object-fit:cover;
            box-shadow:0px 4px 4px rgba(0,0,0,0.2);
            border-radius:5px;
            background-color: lightgrey;
            filter: brightness(.9);

        }

        p {
            color: black;
            font-size: 1.5rem;

            @include mobileFirst(640) {
                color: white;
                font-size: 2rem;
                position: absolute;
                top:40%;
                left:50%;
                transform:translate(-50%, -50%);
            }
        }

        @include mobileFirst(640) {
            width:50%;
        }

        @include mobileFirst(800) {
            width:33.33%;
        }
    }



}

//***************************************************FOOTER**********************************************************//

footer {
	position:relative;
	padding-bottom:1rem;
	padding-top:1rem;
	//margin-top:3rem;
  	z-index:0;
  	background-color:$textColor;
  	box-shadow:0 -2px 6px rgba(0,0,0,0.5);

	p {
		font:1rem $textFont;
		color:white;
		text-align:center;

	}

  a {
    color:white!important;
  }
}

.social-header {
	margin:auto;
	text-align:center;
}

.fa {
    padding-bottom: 0px;
    padding-left: .7em;
    padding-right:.7em;
    text-align: right;
    text-decoration: none;
    color: $textColor;
    cursor:pointer;
}

.fa:hover {
    opacity: 0.5;
}

.copyright {
	font:1rem $textFont;
	display:block;
	margin:auto;
	text-align:center;
	color:%textColor;
	padding-top:2rem;
}

//***************************************************ABOUT**********************************************************//

.about-main {
    width:100vw;
    margin:auto;
    padding:0;
    display: flex;
    flex-wrap: wrap;

    @include mobileFirst(640) {
        height:90vh;
    }
}

.about-hero {
    position: relative;
    width:100vw;
    min-height: 50vh;

    img {
        object-fit: cover;
        width:100%;
        height:100%;
    }

    h1 {
        text-align: center;
        margin:auto;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:white;
        font:3rem josefin sans;

        @include mobileFirst(640) {
            font-size: 5rem;
        }

    }

    @include mobileFirst(640) {
        width:50vw;
        height:100%;
    }
}

.about-text {
    width:100vw;
    text-align: center;
    font:1rem montserrat;
    font-weight:300;
    padding:2rem;
    background-color:#5e616d;
    color:white;

    h2 {
        font:1.5rem montserrat;

        @include mobileFirst(640) {
            font-size: 1.6rem;
        }
    }

    @include mobileFirst(640) {
        width:50vw;
        height:100%;
        overflow:scroll;
        font-size:1.2rem;
    }
}

